extends layout

block content
h1= title
p ようこそ、#[em LocalLibrary]へ。これは Mozilla Developaer Networkのチュートリアル例として開発された、とても基本的な Express ウェブサイトです。
h1 コンテンツ

p この図書館には次のレコード数があります:

ul 
  li #[strong 本:] !{book_count}
  li #[strong 複本:] !{book_instance_count}
  li #[strong 利用可能な複本:] !{available_book_instance_count}
  li #[strong 著者:] !{author_count}
  li #[strong ジャンル:] !{genre_count}

